.search-input-container{
    width: 100%;
    padding: 6px;
    background: #333;
    // padding: 20px;
    // margin-top: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    input{
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        color: #fff;
        font-size: 16px;
    }
}
